@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #f5f6fa;
}

.wrapper .sidebar {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);

    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 10px 0;
    transition: all 0.5s ease;
}


.wrapper .sidebar ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon {
    color: #dee4ec;
    width: 50x;
    display: inline-block;
}

body.active .wrapper .sidebar {
    left: -225px;
}

body.active .wrapper .section {
    margin-left: 0;
    width: 100%;
}




.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1A8EEA;
    min-width: 210px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    padding: 5px 5px;
    z-index: 1;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 10px
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sear {
    padding: 10px;
    font-size: 15px;
    width: 250px;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid lightgray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sear:focus {
    transition: 1s ease;
    width: 50%;
}

.img_labs {
    height: 200px;
    width: 330px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 10px 22px 0 rgba(0, 0, 0, 0.3);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.info_labs {
    padding: 10px;
    width: 330px;
    text-align: center;
    background: #4039E4;
    color: white;
    font-size: 17px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 10px 22px 0 rgba(0, 0, 0, 0.3);
}